@import 'common';
.top_btn {
    @include top_btn;
    a{img {}}
}
// header
//main
main {
    .banner {
        background-image: url(../images/menu_banner.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 460px; padding: 180.5px 0;
        text-align: center;
        p {
            color: $color3; margin-bottom: 10px;
        }
        h1 {
            color: $color3; font-size: $font50;
            font-weight: 900;
        }
    }
    .container {
        @include center; @include flex; align-items: start;
        margin: 100px auto 0;
        aside {
            p {
                font-size: $font18; margin-bottom: 20px;
            }
            h1 {
                font-size: $font50; font-weight: 600;
                color: $color10;
            }
            .snb {
                margin-top: 50px;
                > li:first-child {
                    > a {
                        border-bottom: 2px solid $color10;
                    }
                    .depth1 {
                        li:first-child {
                            a {
                                color: $color10;
                            }
                        }
                    }
                }
                > li {
                    margin-bottom: 30px;
                    > a {
                        font-size: $font24; margin-bottom: 20px;
                        border-bottom: 2px solid $color11;
                        width: 145px; display: inline-block;
                    }
                    .depth1 {
                        li {
                            margin-bottom: 16px;
                            a {
                                span {font-size: $font10;}
                            }
                        }
                        li:last-child {margin: 0;}
                    }
                }
                > li:nth-child(2) {.depth1{display: none;}}
                > li:nth-child(3) {.depth1{display: none;}}
                > li:nth-child(4) {.depth1{display: none;}}
            }
        }
        .contents_wrap {
            text-align: center;
            .item {
                @include flex; flex-flow: row wrap;
                width: 1230px;
                a {
                    width: calc((1230px - 60px) / 4);
                    margin-bottom: 50px;
                    .photo {
                        width: 292.5px;
                        img {width: 100%;}
                    }
                    .ko_name {
                        @include dot; margin: 25px 0 10px;
                        font-size: $font18; line-height: 21px
                    }
                    .en_name {
                        @include dot; font-size: $font14;
                        line-height: 16px;
                    }
                }
            }
            .more {
                width: 200px; line-height: 40px; display: inline-block;
                background-color: $color10; color: #fff;
                text-align: center; margin-top: 50px;
                letter-spacing: 0.8px;
            }
        }
    }
}